#app2 {

}

#app2 .tab-bar {
    display: flex;
}

#app2 .tab-bar > li {
    border: 1px solid #000;
    width: 50%;
}

#app2 .tab-bar > li.selected {
    background: rgb(129, 157, 105);
}

#app2 .tab-content {
}

#app2 .tab-content > li {
    display: none;
}

#app2 .tab-content > li.active {
    display: block;
}
