#app4 {

}

@keyframes change {
    0% {
        background: red;
    }
    50% {
        background: yellow;
    }
    100% {
        background: blue;
    }
}

#app4 .circle {
    border: 1px solid grey;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin: 20px;
}

#app4 .circle.active {
    animation: change 1s linear infinite alternate;
}